html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0
}

a {
    background-color: transparent
}

div {
    background-color: #ededed;
}